# Copie este arquivo para 'terraform.tfvars' e preencha com seus dados reais.
# O arquivo 'terraform.tfvars' não deve ser commitado no repositório.

# Pegue este valor no painel da Oracle em: Identity & Security > Compartments
compartment_ocid    = "ocid1.compartment.oc1..cole_seu_ocid_gigante_aqui"

# Domínio de Disponibilidade da sua conta (geralmente o AD-1 tem as instâncias ARM)
availability_domain = "lqtP:US-ASHBURN-AD-1"